body{
    background-color: #daedf9;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    padding-top: 55px;
}

.todoAppWrapper {
    max-width: 530px;
    margin: 0 auto;
    padding: 0px;
    background-color: white;
    box-shadow: 12px 9px 15px 2px #777777;
    border-radius: 10px;
}

a {
    color: #595959;
    text-decoration: none;
}

h1 {
    margin: 0;
}

.header {
    text-align: center;
    padding: 20px 0;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(51,51,128,1) 14%, rgba(0,212,255,1) 100%);
    border-radius: 10px 10px 0 0;
    color: white;
}

.taskTitle {
    display: flex;
    align-items: center;
}

.taskWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-top: 1px solid rgb(102, 72, 72);
}

.taskCompletedIcon {
    height: 20px;
    width: 20px;
    background-color: lightgreen;
    border-radius: 50%;
    margin-right: 10px;
}

.taskInCompletedIcon {
    height: 20px;
    width: 20px;
    background-color: #595959;
    border-radius: 50%;
    margin-right: 10px;
}

.loginAndLogout {
    padding: 20px;
}

.loginAndLogout a {
    color: lightcoral;
    text-decoration: none;
}

.editButton {
    color: rgb(39, 150, 39);
}

.deleteButton {
    color: red;
}

.searchWrapper {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}

.searchInput {
    height: 24px;
    outline: none;
    border: 1px solid lightseagreen;
    border-radius: 5px;
    padding: 2px 4px;
    width: 160px !important;
}

.searchButton {
    border: 1px solid lightseagreen;
    padding: 4px 10px;
    background-color: #fafafa;
    color: lightseagreen;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: all 0.4s;
}

.searchButton:hover {
    background-color: lightseagreen;
    color: white;
}

.addButton {
    font-size: 32px;
    color: lightseagreen;
}

label {
    display: block;
}

input[type="text"],
textarea {
    width: 100%;
}

.accountWrapper {
    padding: 10px;
}

.accountWrapper p {
    margin: 0;
    padding: 0;
}