{% extends 'todoapp/base.html' %}
{% block content %}

<div class="header">
    <h1>{{request.user}}のタスク</h1>
</div>

<div class="searchWrapper">
    <form method="GET">
        <input type="text" name="search" value="{{search}}" class="searchInput">
        <input type="submit" value="検索" class="searchButton">
    </form>
    <a href="{% url 'create-task' %}" class="addButton">+</a>
</div>

<div class="tasksWrapper">
    {% for task in tasks %}
    <div class="taskWrapper">
        {% if task.completed %}
        <div class="taskTitle">
            <div class="taskCompletedIcon">

            </div>
            <s><a href="{% url 'task' task.id %}">{{task.title}}</a></s>
        </div>
        <div>
            <a href="{% url 'edit-task' task.id %}" class="editButton">&#x270f;</a>
            <a href="{% url 'delete-task' task.id %}" class="deleteButton">×</a>
        </div>
        {% else %}
        <div class="taskTitle">
            <div class="taskInCompletedIcon">

            </div>
            <a href="{% url 'task' task.id %}">{{task.title}}</a>
        </div>
        <div>
            <a href="{% url 'edit-task' task.id %}" class="editButton">&#x270f;</a>
            <a href="{% url 'delete-task' task.id %}" class="deleteButton">×</a>
        </div>
        {% endif %}
    </div>

    {% empty %}
    <h3>タスクがありません</h3>

    {% endfor %}
</div>

<div class="loginAndLogout">
    {% if request.user.is_authenticated %}
    {% comment %} <p>{{request.user}}</p> {% endcomment %}
    <a href="{% url 'logout' %}">ログアウト</a>
    {% else %}
    <a href="{% url 'login' %}">ログイン</a>
    {% endif %}
</div>
{% endblock content%}