{% if request.user.is_authenticated %}
<p>{{request.user}}</p>
{% comment %} <a href="{% url 'login' %}">ログアウト</a> {% endcomment %}
{% else %}
<a href="{% url 'login' %}">ログイン</a>
{% endif %}

<h1>Todoリスト</h1>
<a href="{% url 'create-task' %}">タスクの追加</a>

<table>
    <tr>
        <th>タスク</th>
    </tr>
    {% for task in tasks %}
        <tr>
            <td>{{task.title}}</td>
            <td><a href="{% url 'task' task.id %}">確認</td>
            <td><a href="{% url 'edit-task' task.id %}">編集</td>
            <td><a href="{% url 'delete-task' task.id %}">削除</td>
        </tr>
    {% endfor %}
</table>